examples/node_red_pull_flow/template.json
[
  {
    "id": "pull_flow_tab",
    "type": "tab",
    "label": "Managed Node-RED pull",
    "disabled": false,
    "info": "Redacted template. Fill placeholders with examples/node_red_pull_flow/generate_flow.py before importing."
  },
  {
    "id": "pull_trigger",
    "type": "server-state-changed",
    "z": "pull_flow_tab",
    "name": "Pull script turned on",
    "server": "{{HA_SERVER_ID}}",
    "version": 3,
    "entityId": "{{PULL_SCRIPT_ENTITY_ID}}",
    "entityIdFilter": null,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" },
      { "property": "data", "propertyType": "msg", "value": "", "valueType": "eventData" }
    ],
    "ifState": "on",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputs": 1,
    "wires": [["extract_vars"]]
  },
  {
    "id": "extract_vars",
    "type": "function",
    "z": "pull_flow_tab",
    "name": "Extract run_id and restart",
    "func": "const attrs = (msg.data && msg.data.new_state && msg.data.new_state.attributes) || {};\nmsg.run_id = attrs.run_id || '';\nmsg.restart = attrs.restart === true || attrs.restart === 'true';\nreturn msg;",
    "outputs": 1,
    "wires": [["git_pull_exec"]]
  },
  {
    "id": "git_pull_exec",
    "type": "exec",
    "z": "pull_flow_tab",
    "name": "git pull --ff-only via deploy key",
    "command": "set -e\nrepo=\"{{REPO_SSH_URL}}\"\nbranch=\"{{REPO_BRANCH}}\"\nkeyfile=/data/.ssh/node_red_deploy_ed25519\nhostsfile=/data/.ssh/known_hosts\nmkdir -p /data/.ssh\nif [ ! -f \"$keyfile\" ]; then\n  ssh-keygen -t ed25519 -N \"\" -f \"$keyfile\" >/dev/null 2>&1\n  chmod 600 \"$keyfile\"\n  echo \"DEPLOY_KEY=$(cat ${keyfile}.pub)\"\nfi\nif [ ! -f \"$hostsfile\" ]; then\n  echo \"github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl\" > \"$hostsfile\"\nfi\nworktree=\"\"\nfor d in /config /data /opt; do\n  [ -d \"$d\" ] || continue\n  cand=$(find \"$d\" -maxdepth 4 -name flows.json 2>/dev/null | head -n1)\n  if [ -n \"$cand\" ]; then\n    wt=$(dirname \"$cand\")\n    if [ -f \"$wt/package.json\" ] && git -C \"$wt\" rev-parse --is-inside-work-tree >/dev/null 2>&1; then\n      worktree=\"$wt\"; break\n    fi\n  fi\ndone\nif [ -z \"$worktree\" ]; then echo \"DEPLOY_KEY=no-worktree\"; exit 1; fi\ntimeout 45 git -C \"$worktree\" -c core.sshCommand=\"ssh -i $keyfile -o IdentitiesOnly=yes -o BatchMode=yes -o ConnectTimeout=15 -o StrictHostKeyChecking=yes -o UserKnownHostsFile=$hostsfile\" pull --ff-only \"$repo\" \"$branch\"",
    "addpay": false,
    "append": "",
    "useSpawn": "true",
    "timer": "60",
    "winHide": true,
    "oldrc": false,
    "wires": [["classify_result"], ["capture_stderr"], []]
  },
  {
    "id": "capture_stderr",
    "type": "function",
    "z": "pull_flow_tab",
    "name": "Buffer stderr (220 chars)",
    "func": "const raw = (msg.payload && msg.payload.toString) ? msg.payload.toString() : String(msg.payload || '');\nmsg.stderr_buffer = raw.slice(0, 220);\nreturn msg;",
    "outputs": 1,
    "wires": [[]]
  },
  {
    "id": "classify_result",
    "type": "function",
    "z": "pull_flow_tab",
    "name": "Serialize status string",
    "func": "const code = (msg.payload && typeof msg.payload === 'object') ? msg.payload.code : Number(msg.payload);\nconst runId = msg.run_id || 'unknown';\nif (code === 0) {\n  msg.payload = runId + '|node_red|success|0';\n  msg.success = true;\n  return [msg, null];\n}\nmsg.payload = runId + '|node_red|failure|' + code;\nmsg.success = false;\nreturn [null, msg];",
    "outputs": 2,
    "wires": [["record_success"], ["record_failure", "record_diagnostic"]]
  },
  {
    "id": "record_success",
    "type": "api-call-service",
    "z": "pull_flow_tab",
    "name": "Record pull success",
    "server": "{{HA_SERVER_ID}}",
    "version": 2,
    "domain": "input_text",
    "service": "set_value",
    "target": {},
    "data": "{ \"entity_id\": \"{{STATUS_ENTITY_ID}}\", \"value\": payload }",
    "dataType": "jsonata",
    "mergeContext": "",
    "outputProperties": [],
    "wires": [["restart_branch"]]
  },
  {
    "id": "restart_branch",
    "type": "switch",
    "z": "pull_flow_tab",
    "name": "restart requested?",
    "property": "restart",
    "propertyType": "msg",
    "rules": [{ "t": "true" }],
    "outputs": 1,
    "wires": [["restart_addon"]]
  },
  {
    "id": "restart_addon",
    "type": "api-call-service",
    "z": "pull_flow_tab",
    "name": "Restart Node-RED add-on",
    "server": "{{HA_SERVER_ID}}",
    "version": 2,
    "domain": "hassio",
    "service": "addon_restart",
    "target": {},
    "data": "{ \"addon\": \"a0d7b954_nodered\" }",
    "dataType": "jsonata",
    "mergeContext": "",
    "outputProperties": [],
    "wires": [[]]
  },
  {
    "id": "record_failure",
    "type": "api-call-service",
    "z": "pull_flow_tab",
    "name": "Record pull failure",
    "server": "{{HA_SERVER_ID}}",
    "version": 2,
    "domain": "input_text",
    "service": "set_value",
    "target": {},
    "data": "{ \"entity_id\": \"{{STATUS_ENTITY_ID}}\", \"value\": payload }",
    "dataType": "jsonata",
    "mergeContext": "",
    "outputProperties": [],
    "wires": [[]]
  },
  {
    "id": "record_diagnostic",
    "type": "api-call-service",
    "z": "pull_flow_tab",
    "name": "Record bounded stderr",
    "server": "{{HA_SERVER_ID}}",
    "version": 2,
    "domain": "input_text",
    "service": "set_value",
    "target": {},
    "data": "{ \"entity_id\": \"{{DIAGNOSTIC_ENTITY_ID}}\", \"value\": $string($merge([{}, stderr_buffer])) }",
    "dataType": "jsonata",
    "mergeContext": "",
    "outputProperties": [],
    "wires": [[]]
  }
]
